<section class="px-6 md:px-24 mt-12">
    <h1 class="tracking-tight text-4xl md:text-6xl mb-4 md:mb-12">What we feature</h1>
    <div class="flex items-end flex-col lg:flex-row gap-8 mb-24">
        <div class="flex flex-col 2xl:flex-row gap-8">
            <img class="aspect-square w-auto" src="https://images.pexels.com/photos/5089178/pexels-photo-5089178.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="img1">
            <div>
                <h2 class="text-3xl mb-2 tracking-tight">Craftsmanship at Its Finest</h2>
                <hr class="mb-4">
                <p class="text-md text-gray-600">Our featured collection celebrates the art of carpentry, showcasing a range of expertly crafted pieces that blend timeless techniques with modern design. Each project, whether it's custom furniture, architectural details, or woodwork, reflects the dedication and skill of our artisans. With an eye for detail and a commitment to quality, every piece tells a unique story of craftsmanship and creativity.</p>
            </div>
        </div>
        <div class="flex flex-col 2xl:flex-row gap-8">
            <img class="aspect-square w-auto" src="https://images.pexels.com/photos/5089167/pexels-photo-5089167.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="img2">
            <div>
                <h2 class="text-3xl mb-2 tracking-tight">Innovative Designs, Timeless Quality</h2>
                <hr class="mb-4">
                <p class="text-md text-gray-600">From intricate joinery to bold, modern designs, our featured works highlight the versatility of wood as a medium. These pieces are not just functional; they are statements of artistry and precision. With every cut, every joint, and every finish, our featured collection demonstrates how carpentry can elevate a space, blending beauty with utility in perfect harmony.</p>
            </div>
        </div>
    </div>
    <hr class="mb-12">
</section>