<header class="">
    <div class="flex justify-between items-center bg-gray-800 text-white py-4 w-screen px-6 md:px-24">
        <i class="ri-menu-2-line md:hidden text-3xl"></i>
        <h1 class="uppercase hidden md:block">Tailwindcss_Demo</h1>
        <nav>
            <ul class="hidden md:flex gap-4 ">
                <li><a href="#">Home</a></li>
                <li><a href="#">Featured</a></li>
                <li><a href="#">Gallery</a></li>
            </ul>
        </nav>
        <button class="bg-white text-black font-semibold tracking-tighter uppercase py-2 px-4 rounded-lg">Contact Us</button>
    </div>
</header>
