<footer id="footer" class="bg-gray-800 text-white py-8 px-4 mt-24">
    <div class="max-w-screen-xl mx-auto flex flex-col lg:flex-row justify-between items-center">
        <div class="mb-4 md:mb-0">
            <h1 class="text-3xl font-bold">Tailwind Demo</h1>
        </div>

        <div class="flex flex-col md:flex-row md:space-x-12 space-y-4 md:space-y-0 text-center md:text-left">
            <div>
                <h2 class="font-semibold text-lg mb-2">Quick Links</h2>
                <ul>
                    <li><a href="#" class="text-gray-400 hover:text-white transition">Home</a></li>
                    <li><a href="#feature" class="text-gray-400 hover:text-white transition">Featured</a></li>
                    <li><a href="#gallery" class="text-gray-400 hover:text-white transition">Gallery</a></li>
                    <li><a href="#footer" class="text-gray-400 hover:text-white transition">Contact</a></li>
                </ul>
            </div>
            
        </div>

        <div class="mt-6 md:mt-0 flex space-x-6 justify-center md:justify-end">
            <a href="#" class="text-gray-800 hover:text-blue-800 transition bg-slate-50 py-2 px-4 rounded"><i class="ri-facebook-fill"></i></a>
            <a href="#" class="text-gray-800 hover:text-blue-800 transition bg-slate-50 py-2 px-4 rounded"><i class="ri-twitter-fill"></i></a>
            <a href="#" class="text-gray-800 hover:text-blue-800 transition bg-slate-50 py-2 px-4 rounded"><i class="ri-instagram-fill"></i></a>
            <a href="#" class="text-gray-800 hover:text-blue-800 transition bg-slate-50 py-2 px-4 rounded"><i class="ri-linkedin-fill"></i></a>
        </div>
    </div>

    <div class="text-center mt-8 border-t border-gray-700 pt-4 text-sm text-gray-400">
        <p>&copy; 2024 Bryan Santiago. All Rights Reserved.</p>
    </div>
</footer>
