<main>
    <!-- <h1>
        ADDING THE DATE PIPE
    </h1>
    <div> 
        Today's date :- {{presentDate}}
    </div>

    <div>
        This is a short date :- {{ presentDate | date: 'shortDate' }}<br/>
        This line shows the full date :- {{ presentDate | date: 'fullDate' }}<br/>
        This will show a formatted date :- {{ presentDate | date: 'dd-MM-yyyy' }}<br/>
        This indicates the hours and minutes :- {{ presentDate | date: 'hh:mm' }}<br/>
        This shows the month day and year :- {{ presentDate | date: 'MM-dd-yyyy' }}<br/>
        day :- {{ presentDate | date: 'd' }} <br/>
        day :- {{ presentDate | date: 'w' }} <br/>
    </div>

    <div>
        Date with uppercase :- {{ presentDate | date: 'fullDate' | uppercase }} <br/>
        Date with lowercase :- {{ presentDate | date: 'medium' | lowercase }} <br/>
    </div>

    <div>
        Second changing in Time: {{ time$ | async | date: 'mediumTime' }}
    </div>

    <h2>Json Pipes!</h2>
    <p>Object: {{ testObject }}</p>
    <p>Object with JsonPipe: {{ testObject | json }}</p>

    <h3>Currency Pipe</h3>
    <p>{{ price | currency: '': true }}</p>
    <p>{{ price | currency:'INR' }}</p>

    <div>
        <h3>Start index:- {{ Fruits | slice:2 }}</h3>
        <h4>Start and end index:- {{ Fruits | slice:1:4 }}</h4>
        <h5>Negative index:- {{ Fruits | slice:-2 }}</h5>
        <h6>Negative start and end index:- {{ Fruits | slice:-4:-2 }}</h6>
    </div>

    <div>
        <h3>Decimal Pipe</h3>
        <p>{{ decimalNum1 | number }}</p>
        <p>{{ decimalNum2 | number }}</p>
    </div>

    <div style="text-align:center">
        <p>Apply formatting:- {{ decimalNum1 | number:'3.1' }}</p>
        <p>Apply formatting:- {{ decimalNum2 | number:'2.1-4' }}</p>
    </div> -->

     <h1>This is todays date</h1>
     <p>{{ todaydate }}</p>

     <app-new-cmp></app-new-cmp>

     <h1>Angular pipes</h1>
     <p>
        {{ currentDate | date:'shortDate' }}
        {{ currentDate | date:'fullDate' }}
        {{ currentDate | date:'MM/dd/yyyy' }}
        {{ currentDate | date:'shortTime' }}
        {{ currentDate | date:'d' }}
        {{ currentDate | date:'w' }}
        
        {{ price | currency:'USD':'symbol':'1.2-2' }}
        {{ price | currency:'USD':'code':'1.2-2' }}
        {{ price | currency:'INR':'symbol':'1.2-2' }}
        {{ price | currency:'GBP':'symbol':'1.2-2' }}
        
        {{ transformedData$ | async }}
        
        {{ complexData | json }}
        {{ mixedTypes | json }}
        
        {{ numbers | slice:3:6 }}
        {{ numbers | slice:-3 }}
        {{ longString | slice:-2 }}
        {{ longString | slice:0:5 }}
    </p>

</main>

<router-outlet />
